/******************************************/
/*** FONTS **/
@font-face {
  font-family: 'ExistenceLightUnicase';
  src: url('../fonts/existence-unicase_light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/existence-unicase_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/existence-unicase_light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/existence-unicase_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/existence-unicase_light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LaneReg';
  src: url('../fonts/lane_reg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lane_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lane_reg.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lane_reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lane_reg.svg#svgFontName') format('svg'); /* Legacy iOS */
}


.container{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    clear: both;
}

.absolute{
    position: absolute;
}

.rel{
    position: relative;
}

#page-wrap, body{
    background-color: #E4E4E4;
    width: 100%;
    height: 100%;
}

#page-wrap, #content{
    overflow-x: hidden;
}

a,h2,div,p {
    font-family: 'LaneReg', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

/******************************************/
/*** HEADER STYLES **/

#header{
    width: 100%;
    position: relative;
    z-index: 10;
}

#header .container{
    padding: 0px;
}

#header .logo{
    height: 105px;
    width: 100%;
    text-align: right;
    background-color: #D4D4D4;
    position: relative;
    font-weight:bold;
}

#header .logo a{
    color: #636363;
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin-right: 20px;
    font-size: 40px;
    z-index: 12;
    display: block;
}

#header .logo a:hover{
    text-decoration: none;
}

#header .navbar-container{
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
}

#header  .navbar-container ul{
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    padding-left: 0px;
}

#header .navbar-container ul li{
    display: inline-block;
    height: 100%;
    position: relative;
}

#header .navbar-container ul li a{
    color: #929191;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    font-family: 'ExistenceLightUnicase', "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 28px;
}

#header .navbar-container ul li a:hover,
#header .navbar-container ul li.active a{
    color: white;
    text-decoration: none;
    background: black;
}

/******************************************/
/*** CONTENT STYLES **/

div.wrapper{
    position: relative;
    padding: 20px 10px;
}

#content,
.left-content,
.right-content{
    min-height: 800px;
}

#content .container{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px;
    margin: 0px;
}

#content .container h2.title{
    margin: 0px;
    padding: 10px;
    color: #2C2C2C;
    text-transform: uppercase;
    font-size: 40px;
}

#content .main-content{
    padding: 10px;
}

.main-content, .main-content p{
    color: #505050;
}

.left-content,
.right-content{
    background-color: white;
}

.left-content{
    width: 30%;
    height: 100%;
    border-right: 1px solid #D4D4D4;
    background-color: #EFEFEF;
}

.right-content{
    width: 70%;
    height: 100%;
}

.wrapper span.arrow {
    top: 0;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
}

span.arrow-left{
    right: 0%;
    background: url('../picture/black_left_arrow.png');
}

span.arrow-right{
    left: 0%;
    background: url('../picture/black_right_arrow.png');
}

#content .container h4{
    font-size: 25px;
}

#content div.right-bg{
    width: 70%;
    min-height: 800px;
    margin-left: 30%;
    display: none;
}

#content div.right-bg .rel{
    min-height: 800px;
    width: 100%;
}

#content div.right-bg span{
    left: 45%;
    top: 45%;
    width: 126px;
    height: 22px;
    background: url('../picture/loading.gif');
}

#footer{
    min-height: 100px;
    width: 100%;
    background-color: rgba(227, 227, 227, 1);
    border-top: 1px solid #D4D4D4;
}

#footer p{
    float: right;
    margin-top: 40px;
    font-size: 25px;
}