/******************************************/
/*** FONTS **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);


.container{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clearfix{
    clear: both;
}

#page-wrap, body{
    background-color: #1F1F1F;
    width: 100%;
    height: 100%;
}

a,h2,div,p{
    font-family: 'Open Sans', "Helvetica Neue", Helvetica,Arial, sans-serif;
}

/******************************************/
/*** HEADER STYLES **/

#header{
    background-color: #2a2b2b;
    height: 180px;
    width: 100%;
}

#header .container{
    height: 180px;
    padding: 0px;
}

#header .navbar-brand-container{
    background-color: #1f1f1f;
    height: 100%;
    width: 4%;
    text-align: center;
}

#header .navbar-brand-container a{
    color: white;
    padding-top: 90px;
}

#header .navbar-container{
    height: 100%;
    width: 96%;
    position: relative;
}

#header  .navbar-container ul{
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    padding-left: 0px;
}

#header .navbar-container ul li{
    display: inline-block;
    height: 100%;
}

#header .navbar-container ul li div{
    height: 100%;
    background-color: #2a2b2b;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    position: relative;
}

#header .navbar-container ul li a{
    color: #929191;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

#header .navbar-container ul li a:hover, #header .navbar-container ul li.active a{
    color: white;
    text-decoration: none;
}

#header .navbar-container ul li div div{
    height: 78%;
}

#header .navbar-container ul li div span.blue-adder{
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #AEC6C7;
    left: 0%;
    top: 0%;
    z-index: 3;
}

#header .navbar-container span.decoration{
    display: block;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 78%;
    background-color: #141414;
    border-bottom: 5px solid #c9c9c9;
    z-index: 1;
}

#header .navbar-container span.nav-block{
    position: absolute;
    display: block;
    width: 100%;
    height: 78%;
    background: #141414;
    border-bottom: 5px solid #c9c9c9;
    left: 0%;
    top: 0%;
    z-index: 4;
    font-size:100px;
    overflow: hidden;
    text-transform: uppercase;
    color: rgba(134, 134, 134, 1);
}

#header li.active span.nav-block{
    top: -78%;
}

div.img-coater{
    padding-top: 40px;
}

#header li div.img-coater span {
    width: 68px;
    height: 66px;
    display: block;
}

li#home div.img-coater span{
    background: url('../picture/home_icon.png') no-repeat;
}

li#calendar div.img-coater span{
    background: url('../picture/calendar_icon.png') no-repeat;
}

li#appointments div.img-coater span{
    background: url('../picture/appointment_icon.png') no-repeat;
}

li#settings div.img-coater span{
    background: url('../picture/settings_icon.png') no-repeat;
}

li#sign_out div.img-coater span{
    background: url('../picture/sign_out_icon.png') no-repeat;
}

/******************************************/
/*** CONTENT STYLES **/

#content{
    min-height: 420px;
    padding: 20px;
}

#content .container{
    width: 100%;
    min-height: 420px;
    background-color: #B4B4B4;
    padding: 0px;
    margin: 0px;
}

#content .container h2.title{
    margin: 0px;
    padding: 10px;
    background-color: #838383;
    color: #2C2C2C;
    text-transform: uppercase;
}

#content .main-content{
    padding: 10px;
}

.main-content, .main-content p{
    color: #505050;
}