.button {
   border: 1px solid #353740;
   background: #212324;
   background: -webkit-gradient(linear, left top, left bottom, from(#5e6366), to(#212324));
   background: -webkit-linear-gradient(top, #5e6366, #212324);
   background: -moz-linear-gradient(top, #5e6366, #212324);
   background: -ms-linear-gradient(top, #5e6366, #212324);
   background: -o-linear-gradient(top, #5e6366, #212324);
   background-image: -ms-linear-gradient(top, #5e6366 0%, #212324 100%);
   padding: 8px 16px;
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #0c0d0d 0 1px 0;
   color: #d5ecfa;
   font-size: 13px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #6b7073;
   text-shadow: #a0aeb8 0 1px 0;
   background: #676c70;
   background: -webkit-gradient(linear, left top, left bottom, from(#a7acb0), to(#676c70));
   background: -webkit-linear-gradient(top, #a7acb0, #676c70);
   background: -moz-linear-gradient(top, #a7acb0, #676c70);
   background: -ms-linear-gradient(top, #a7acb0, #676c70);
   background: -o-linear-gradient(top, #a7acb0, #676c70);
   background-image: -ms-linear-gradient(top, #a7acb0 0%, #676c70 100%);
   color: #1c1a1c;
   }
.button:active {
   text-shadow: #a4aaad 0 1px 0;
   border: 1px solid #585f63;
   background: #535454;
   background: -webkit-gradient(linear, left top, left bottom, from(#78838a), to(#676c70));
   background: -webkit-linear-gradient(top, #78838a, #535454);
   background: -moz-linear-gradient(top, #78838a, #535454);
   background: -ms-linear-gradient(top, #78838a, #535454);
   background: -o-linear-gradient(top, #78838a, #535454);
   background-image: -ms-linear-gradient(top, #78838a 0%, #535454 100%);
   color: #141414;
   }