#picture {
	height:300px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

.alignCell {
	text-align:center;
}

#sprofile {
	margin-top: 10px;
	border-radius: 5px;
	background-color: white;
	padding:10px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:90%;
}

a.noline {
	text-decoration:none;
}

#details {
	margin-top:20px;
	background-color:white;
	font-weight:bold;
	padding:20px;
	padding-top:5px;
	border-radius:5px;
	width:70%;
}

.center{
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

#search {

}
#h4{
		font-family: "Helvetica Neue";
	}